<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="DBCS"
         connectionString="server=.;database=MelaleucaTutorials; integrated security=SSPI"/>-->
    <add name="DBCS" connectionString="server=.;database=WeLearnDBms; integrated security=SSPI" />
    <add name="WeLearnDBmsEntities" connectionString="metadata=res://*/Model.WeLearnModel.csdl|res://*/Model.WeLearnModel.ssdl|res://*/Model.WeLearnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARELLANA;initial catalog=WeLearnDBms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="WeLearnDBmsEntities" connectionString="metadata=res://*/Model.WeLearnModel.csdl|res://*/Model.WeLearnModel.ssdl|res://*/Model.WeLearnModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARELLANA;initial catalog=WeLearnDBms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WeLearnDBmsContext" connectionString="metadata=res://*/StoreProc.WeLearnSP.csdl|res://*/StoreProc.WeLearnSP.ssdl|res://*/StoreProc.WeLearnSP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARELLANA;initial catalog=WeLearnDBms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WeLearnDBmsEntitiesSP" connectionString="metadata=res://*/StoreProc.WeLearnStoreProcModel.csdl|res://*/StoreProc.WeLearnStoreProcModel.ssdl|res://*/StoreProc.WeLearnStoreProcModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ARELLANA;initial catalog=WeLearnDBms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>